<h1>Editing workshop</h1>

<%= render "form", workshop: @workshop %>

<br>

<div class="text-center">
  <%= link_to "Show this workshop", @workshop, class: "btn btn-secondary mr-2" %>
  <%= link_to "Back to workshops", workshops_path, class: "btn btn-secondary" %>
</div>
