<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="rbt-contact-form contact-form-style-1 max-width-auto w-50">
    <h1>Modifier l'atelier</h1>

    <%= render "form", workshop: @workshop %>

    <br>

    <div class="text-center">
      <%= link_to "Annuler", @workshop, class: "btn btn-secondary mr-2" %>
    </div>
  </div>
</div>
