    <main class="rbt-main-wrapper">
        <!-- Start Banner Area -->
        <div class="rbt-banner-area rbt-banner-1">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 pb--120 pt--70">
                        <div class="content">
                            <div class="inner">
                                <div class="rbt-new-badge rbt-new-badge-one">
                                    <span class="rbt-new-badge-icon">🏆</span> The Leader in Online Learning
                                </div>

                                <h1 class="title">
                                    Build The Skills <br> To Drive Your Career.
                                </h1>
                                <p class="description">
                                    Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
                                    <strong>Velit
                                        officia consequat.</strong>
                                </p>
                                <div class="slider-btn">
                                    <a class="rbt-btn btn-gradient hover-icon-reverse" href="#">
                                        <span class="icon-reverse-wrapper">
                                            <span class="btn-text">View Course</span>
                                        <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                        <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <div class="shape-wrapper" id="scene">
                                <img src="assets/images/banner/banner-01.png" alt="Hero Image">
                                <div class="hero-bg-shape-1 layer" data-depth="0.4">
                                    <img src="assets/images/shape/shape-01.png" alt="Hero Image Background Shape">
                                </div>
                                <div class="hero-bg-shape-2 layer" data-depth="0.4">
                                    <img src="assets/images/shape/shape-02.png" alt="Hero Image Background Shape">
                                </div>
                            </div>

                            <div class="banner-card pb--60 mb--50 swiper rbt-dot-bottom-center banner-swiper-active">
                                <div class="swiper-wrapper">

                                    
                                    <!-- End Single Card  -->

                                </div>
                                <div class="rbt-swiper-pagination"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Banner Area -->





<header class="bg-white py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Learn in style</h1>
                    <%= link_to "New workshop", new_workshop_path %>
                </div>
            </div>
        </header>

<h1>Workshops</h1>
<div class="container">
<div id="workshops">
  <% @workshops.reverse.each_slice(3) do |workshop_row| %>
    <div class="row mb-4 justify-content-around">
      <% workshop_row.each do |workshop| %>
        <% if workshop.status != "passé" %>
          <%= render partial: "workshops/workshop_card", locals: {workshop: workshop} %>
          <% end %>
      <% end %>
    </div>
  <% end %>
</div>
</div>


