<main class="rbt-main-wrapper">
    <!-- Start Banner Area -->
    <div class="rbt-banner-area rbt-banner-1 bg-color-black" style="background-image: url('<%= asset_path('banner-original.jpg') %>'); background-repeat: no-repeat; background-size: cover;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 pb--120 pt--70">
                    <div class="content">
                        <div class="inner">                       
                            <h1 class="title"> 
                                Revolutionize All Your Masteries
                            </h1>
                            <p class="description"> 
                                Plongez dans une expérience d'e-learning innovante qui bouleverse les normes établies et propulse<br> votre apprentissage vers de nouveaux sommets. Rejoignez <strong>la révolution de l'éducation</strong> aujourd'hui. Transformez vos ambitions en réalité.
                            </p>
                            <div class="d-flex align-items-center mt-3">
                                <h3 class="title">Clip Animated
                                        <span class="header-caption">
                                            <span class="cd-headline clip is-full-width">
                                                <span class="cd-words-wrapper" style="width: 134px;">
                                                    <b class="theme-gradient is-hidden">Clip One.</b>
                                                    <b class="theme-gradient is-visible">Clip Two.</b>
                                                    <b class="theme-gradient is-hidden">Clip Three.</b>
                                                </span>
                                            </span>
                                        </span>
                                    </h3>
                                <div class="slider-btn mx-auto">
                                    <a class="rbt-moderbt-btn" href="#">
                                        <span class="moderbt-btn-text" style="color: white;">
                                            Start the revolution now
                                        </span>
                                        <i class="feather-arrow-right"></i> 
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Banner Area -->













        <!-- Start Workshops Area -->

        <h1>Workshops</h1>
        <div class="container">
        <div id="workshops">
        <% @workshops.reverse.each_slice(3) do |workshop_row| %>
            <div class="row mb-4 justify-content-around">
            <% workshop_row.each do |workshop| %>
                <% if workshop.status != "passé" %>
                <%= render partial: "workshops/workshop_card", locals: {workshop: workshop} %>
                <% end %>
            <% end %>
            </div>
        <% end %>
        </div>
        </div>




    </main>


