<main class="rbt-main-wrapper">
    <!-- Start Banner Area -->
    <div class="rbt-banner-area rbt-banner-1 bg-color-black" style="background-image: url('<%= asset_path('banner-color.jpg') %>'); background-repeat: no-repeat; background-size: cover;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 pb--120 pt--70">
                    <div class="content">
                        <div class="inner">                       
                            <h1 class="title"> 
                                <span style="color: #0b00d9;">R</span><span style="color: white;">evolutionize</span> <span style="color: #0b00d9;">A</span><span style="color: white;">ll</span> <span style="color: #0b00d9;">Y</span><span style="color: white;">our</span> <span style="color: #0b00d9;">M</span><span style="color: white;">asteries</span>
                            </h1>
                            <p class="description" style="color: #ebebeb;"> 
                                Plongez dans une expérience d'e-learning innovante qui bouleverse les normes établies et propulse<br> votre apprentissage vers de nouveaux sommets. Transformez vos ambitions en réalité en rejoignant <strong><br>la révolution de l'éducation</strong> aujourd'hui.
                            </p>
                            <div class="d-flex align-items-center mt-3">
                                
                                <div class="slider-btn mx-auto">
                                    <a class="rbt-moderbt-btn" href="#">
                                        <span class="moderbt-btn-text" style="color: white;">
                                            Start the revolution now
                                        </span>
                                        <i class="feather-arrow-right"></i> 
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Banner Area -->













        <!-- Start Workshops Area -->

        <h1>Workshops</h1>
        <div class="container">
        <div id="workshops">
        <% @workshops.reverse.each_slice(3) do |workshop_row| %>
            <div class="row mb-4 justify-content-around">
            <% workshop_row.each do |workshop| %>
                <% if workshop.status != "passé" %>
                <%= render partial: "workshops/workshop_card", locals: {workshop: workshop} %>
                <% end %>
            <% end %>
            </div>
        <% end %>
        </div>
        </div>




    </main>


