<p style="color: green"><%= notice %></p>
<header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Learn in style</h1>
                    <%= link_to "New workshop", new_workshop_path %>
                </div>
            </div>
        </header>

<h1>Workshops</h1>
<div class="container">
<div id="workshops">
  <% @workshops.each_slice(3) do |workshop_row| %>
    <div class="row mb-4 justify-content-around">
      <% workshop_row.each do |workshop| %>
          <%= render workshop %>
      <% end %>
    </div>
  <% end %>
</div>
</div>


