<% if @event_status %>
    <!--Banniere Atelier live-->
    <%= render "workshops/event_banner" %>
<% else %> 
    <!--Banniere Cours-->
    <%= render "workshops/course_banner" %>
<% end %>






  <!-- Start Live workshop Area -->
  <div class="container">
    <div class="row g-5 mt-5 mb-5">
      <div class="container">
        <div id="workshops">
          <div class="row g-4 mb-4 justify-content-around ">
            <% if  @workshops.any? %>
              <% @workshops.each do |workshop| %>
                  <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                    <%= render partial: "workshops/workshop_card", locals: {workshop: workshop} %>
                  </div>
              <% end %>       
          </div>
        </div>
      </div> 
    </div> 
      <% else %>
          <p>Aucun atelier trouvé</p>
      <% end %>
  </div>
  <% if @workshops.any?  %>
  <% @workshops.each do |workshop| %>
    <script type="application/ld+json">
    <%= course_jsonld(workshop) %>
  </script>
  <% end %>
 
<% end %>











        