<main class="rbt-main-wrapper">
    <!-- Start Banner Area -->
    <div class="rbt-banner-area rbt-banner-1 bg-color-black" style="background-image: url('<%= asset_path('banner-color.jpg') %>'); background-repeat: no-repeat; background-size: cover;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 pb--120 pt--70">
                    <div class="content">
                        <div class="inner">                       
                            <h1 class="title"> 
                                <span style="color: #0b00d9;">R</span><span style="color: white;">evolutionize</span> <span style="color: #0b00d9;">A</span><span style="color: white;">ll</span> <span style="color: #0b00d9;">Y</span><span style="color: white;">our</span> <span style="color: #0b00d9;">M</span><span style="color: white;">asteries</span>
                            </h1>
                            <p class="text" style="color: #ebebeb;"> 
                                Plongez dans une expérience d'e-learning innovante qui bouleverse les normes établies et propulse<br> votre apprentissage vers de nouveaux sommets. Transformez vos ambitions en réalité en rejoignant <strong><br>la révolution de l'éducation</strong> aujourd'hui.
                            </p>
                            <div class="d-flex align-items-center mt-3">
                                
                                <div class="slider-btn mx-auto">
                                    <a class="rbt-moderbt-btn" href="#">
                                        <span class="moderbt-btn-text" style="color: white;">
                                            Start the revolution now
                                        </span>
                                        <span class="btn-icon"><i class="fa-solid fa-arrow-right" style="color: white;"></i></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Banner Area -->

    <!-- Marge between 2 sections -->
    <div class="mt-5"></div>
    <!-- End of Marge -->

    <!-- Categories Courses -->
    <div class="rbt-categories-area bg-color-white rbt-section-gapBottom">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="section-title text-center">
                                <span class="subtitle bg-primary-opacity">CATÉGORIES</span>
                                <h2 class="title">Explorez Nos Top Cours Par Catégories <br /> Qui Vous Transformeront</h2>
                            </div>
                        </div>
                    </div>
                    <div class="row g-5 mt--20">
                        <!-- Start Category Box Layout  -->
                        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                            <a class="rbt-cat-box rbt-cat-box-1 text-center" href="course-filter-one-toggle.html">
                                <div class="inner">
                                    <div class="icons">
                                        <img src="assets/images/category/web-design.png" alt="Icons Images">
                                    </div>
                                    <div class="content">
                                        <h5 class="title">Web Design</h5>
                                        <div class="read-more-btn">
                                            <span class="rbt-btn-link">25 Courses<i class="feather-arrow-right"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- End Category Box Layout  -->

                        <!-- Start Category Box Layout  -->
                        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                            <a class="rbt-cat-box rbt-cat-box-1 text-center" href="course-filter-one-toggle.html">
                                <div class="inner">
                                    <div class="icons">
                                        <img src="assets/images/category/design.png" alt="Icons Images">
                                    </div>
                                    <div class="content">
                                        <h5 class="title">Graphic Design</h5>
                                        <div class="read-more-btn">
                                            <span class="rbt-btn-link">30 Courses<i class="feather-arrow-right"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- End Category Box Layout  -->

                        <!-- Start Category Box Layout  -->
                        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                            <a class="rbt-cat-box rbt-cat-box-1 text-center" href="course-filter-one-toggle.html">
                                <div class="inner">
                                    <div class="icons">
                                        <img src="assets/images/category/personal.png" alt="Icons Images">
                                    </div>
                                    <div class="content">
                                        <h5 class="title">Personal Development</h5>
                                        <div class="read-more-btn">
                                            <span class="rbt-btn-link">20 Courses<i class="feather-arrow-right"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- End Category Box Layout  -->

                        <!-- Start Category Box Layout  -->
                        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                            <a class="rbt-cat-box rbt-cat-box-1 text-center" href="course-filter-one-toggle.html">
                                <div class="inner">
                                    <div class="icons">
                                        <img src="assets/images/category/server.png" alt="Icons Images">
                                    </div>
                                    <div class="content">
                                        <h5 class="title">IT and Software</h5>
                                        <div class="read-more-btn">
                                            <span class="rbt-btn-link">15 Courses<i class="feather-arrow-right"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- End Category Box Layout  -->


    <!-- End Categories Courses -->






        <!-- Start Workshops Area -->
        <div class="rbt-categories-area bg-color-white rbt-section-gapBottom">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="section-title text-center">
                                <span class="subtitle bg-primary-opacity">ATELIERS</span>
                                <h2 class="title">Inscrivez-Vous à Nos Ateliers <br /> En Live Streaming</h2>
                            </div>
                        </div>
                    </div>

                    <div class="container">
                        <div id="workshops">
                            <div class="row mb-4 justify-content-around">
                                <% @workshops.reverse.take(3).each do |workshop| %>
                                    <% if workshop.status != "passé" %>
                                        <%= render partial: "workshops/workshop_card", locals: {workshop: workshop} %>
                                    <% end %>                                    
                                <% end %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>      




    </main>


