<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="rbt-contact-form contact-form-style-1 max-width-auto w-50">
    <h1>New workshop</h1>

    <%= render "form", workshop: @workshop %>
  </div>
</div>

