 <!-- TEAM Area  -->
        <div class="rbt-team-area rbt-section-gap ">
            <div class="container ">
                <div class="row g-5">
                    <div class="col-lg-7">
                        <!-- Start Tab Content  -->
                        <div class="rbt-team-tab-content tab-content mt-3" id="myTabContent">
                            <div class="tab-pane fade active show" id="team-tab1" role="tabpanel" aria-labelledby="team-tab1-tab">
                                <div class="inner">
                                    <div class="rbt-team-thumbnail">
                                        <div class="thumb">
                                            <img src="assets/team-01.png" alt="Testimonial Images">
                                        </div>
                                    </div>
                                    <div class="rbt-team-details">
                                        <div class="author-info">
                                            <h4 class="title">Yann Rezigui</h4>
                                            <span class="designation theme-gradient">Minister of Migraine</span>
                                            <span class="team-form">
                                <i class="feather-map-pin"></i>
                                <span class="location">Cannes</span>
                                            </span>
                                        </div>
                                        <p>All about using Doliprane</p>
                                        <ul class="social-icon social-default mt--20 justify-content-start">
                                            <li><a href="https://www.facebook.com/">
                                                    <i class="fa-brands fa-facebook"></i>
                                                </a>
                                            </li>
                                            <li><a href="https://www.twitter.com">
                                                    <i class="fa-brands fa-twitter"></i>
                                                </a>
                                            </li>
                                            <li><a href="https://www.instagram.com/">
                                                    <i class="fa-brands fa-instagram"></i>
                                                </a>
                                            </li>
                                        </ul>
                                        <ul class="rbt-information-list mt--25">
                                            <li>
                                                <a href="#"><i class="fa-solid fa-phone"></i>01 65 23 04 79 et demandez une audience</a>
                                            </li>
                                            <li>
                                                <a href="mailto:hello@example.com"><i class="fa-solid fa-envelope"></i>votezpourmoi@minister.fr</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="team-tab2" role="tabpanel" aria-labelledby="team-tab2-tab">
                                <div class="inner">
                                    <div class="rbt-team-thumbnail">
                                        <div class="thumb">
                                            <img src="assets/team-02.png" alt="Testimonial Images">
                                        </div>
                                    </div>
                                    <div class="rbt-team-details">
                                        <div class="author-info">
                                            <h4 class="title">Malo Bastianelli</h4>
                                            <span class="designation theme-gradient">Head of Surgeley</span>
                                            <span class="team-form">
                                <i class="feather-map-pin"></i>
                                <span class="location">Somewhere in Cambrousse</span>
                                            </span>
                                        </div>
                                        <p>All about pizza en tout genre</p>
                                        <ul class="social-icon social-default mt--20 justify-content-start">
                                            <li><a href="https://www.facebook.com/">
                                                    <i class="fa-brands fa-facebook"></i>
                                                </a>
                                            </li>
                                            <li><a href="https://www.twitter.com">
                                                    <i class="fa-brands fa-twitter"></i>
                                                </a>
                                            </li>
                                            <li><a href="https://www.instagram.com/">
                                                    <i class="fa-brands fa-instagram"></i>
                                                </a>
                                            </li>
                                        </ul>
                                        <ul class="rbt-information-list mt--25">
                                            <li>
                                                <a href="#"><i class="fa-solid fa-phone"></i></i>06 22 14 73 09</a>
                                            </li>
                                            <li>
                                                <a href="mailto:hello@example.com"><i class="fa-solid fa-envelope"></i>malopizza@hotmail.fr</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="team-tab3" role="tabpanel" aria-labelledby="team-tab3-tab">
                                <div class="inner">
                                    <div class="rbt-team-thumbnail">
                                        <div class="thumb">
                                            <img src="assets/team-03.png" alt="Testimonial Images">
                                        </div>
                                    </div>
                                    <div class="rbt-team-details">
                                        <div class="author-info">
                                            <h4 class="title">Annie Hérieau</h4>
                                            <span class="designation theme-gradient">Render Woman</span>
                                            <span class="team-form">
                                <i class="feather-map-pin"></i>
                                <span class="location">Montauban</span>
                                            </span>
                                        </div>
                                        <p>All about teaching of nous tous</p>
                                        <ul class="social-icon social-default mt--20 justify-content-start">
                                            <li><a href="https://www.facebook.com/">
                                                    <i class="fa-brands fa-facebook"></i>
                                                </a>
                                            </li>
                                            <li><a href="https://www.twitter.com">
                                                    <i class="fa-brands fa-twitter"></i>
                                                </a>
                                            </li>
                                            <li><a href="https://www.instagram.com/">
                                                    <i class="fa-brands fa-instagram"></i>
                                                </a>
                                            </li>
                                        </ul>
                                        <ul class="rbt-information-list mt--25">
                                            <li>
                                                <a href="#"><i class="fa-solid fa-phone"></i></i>06 33 25 14 32</a>
                                            </li>
                                            <li>
                                                <a href="mailto:hello@example.com"><i class="fa-solid fa-envelope"></i>rubylv1@wannado.fr</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="team-tab4" role="tabpanel" aria-labelledby="team-tab4-tab">
                                <div class="inner">
                                    <div class="rbt-team-thumbnail">
                                        <div class="thumb">
                                            <img src="assets/team-04.png" alt="Testimonial Images">
                                        </div>
                                    </div>
                                    <div class="rbt-team-details">
                                        <div class="author-info">
                                            <h4 class="title">Robena Troplong</h4>
                                            <span class="designation theme-gradient">Lotus teacher</span>
                                            <span class="team-form">
                                <i class="feather-map-pin"></i>
                                <span class="location">Lyon</span>
                                            </span>
                                        </div>
                                        <p>All about Lotus suicide</p>
                                        <ul class="social-icon social-default mt--20 justify-content-start">
                                            <li><a href="https://www.facebook.com/">
                                                    <i class="fa-brands fa-facebook"></i>
                                                </a>
                                            </li>
                                            <li><a href="https://www.twitter.com">
                                                    <i class="fa-brands fa-twitter"></i>
                                                </a>
                                            </li>
                                            <li><a href="https://www.instagram.com/">
                                                    <i class="fa-brands fa-instagram"></i>
                                                </a>
                                            </li>
                                        </ul>
                                        <ul class="rbt-information-list mt--25">
                                            <li>
                                                <a href="#"><i class="fa-solid fa-phone"></i></i>06 45 78 23 45</a>
                                            </li>
                                            <li>
                                                <a href="mailto:hello@example.com"><i class="fa-solid fa-envelope"></i>cocoandco@caramail.fr</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="top-circle-shape"></div>
                        </div>
                        <!-- End Tab Content  -->
                    </div>


<!-- Start Tab Nav  -->
                    <div class="col-lg-5">
                        
                        
                        <ul class="rbt-team-tab-thumb nav nav-tabs" id="myTab" role="tablist">
                        <div class="col-md-6-lg-5 mx-5">
                            <li>
                                <a class="active" id="team-tab1-tab" data-bs-toggle="tab" data-bs-target="#team-tab1" role="tab" aria-controls="team-tab1" aria-selected="true">
                                    <div class="rbt-team-thumbnail">
                                        <div class="thumb">
                                            <img src="assets/team-01.png" alt="Testimonial Images">
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </div>

                        <div class="col-md-6-lg-5 m-auto">
                            <li>
                                <a id="team-tab2-tab" data-bs-toggle="tab" data-bs-target="#team-tab2" role="tab" aria-controls="team-tab2" aria-selected="false">
                                    <div class="rbt-team-thumbnail">
                                        <div class="thumb">
                                            <img src="assets/team-02.png" alt="Testimonial Images">
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </div>  


                        <div class="col-md-6-lg-5 mx-5">
                            <li>
                                <a id="team-tab3-tab" data-bs-toggle="tab" data-bs-target="#team-tab3" role="tab" aria-controls="team-tab3" aria-selected="false">
                                    <div class="rbt-team-thumbnail">
                                        <div class="thumb">
                                            <img src="assets/team-03.png" alt="Testimonial Images">
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </div>

                        <div class="col-md-6-lg-5 m-auto">
                            <li>
                                <a id="team-tab4-tab" data-bs-toggle="tab" data-bs-target="#team-tab4" role="tab" aria-controls="team-tab4" aria-selected="false">
                                    <div class="rbt-team-thumbnail">
                                        <div class="thumb">
                                            <img src="assets/team-04.png" alt="Testimonial Images">
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </div>
                        </ul>
                        <!-- End Tab Content  -->
                    </div>
                </div>
            </div>
        </div>
     </div>
    <!-- End Team Area  -->