<h1>CONTACT</h1>
<p>Nous sommes impatients de discuter avec vous !</p>

<!-- SECTION CONTACT: 2 colonnes -->
<section class="rbt-contact-address">
  <div class="container">
    <div class="row g-5">
      <!-- Colonne 1: coordonnées -->
      <div class="col-lg-6">
          <%= render "static_pages/contact_infos" %>
      </div>
      <!-- Colonne 2: Zonne Contact form -->
        <div class="col-lg-6">
            <%= render "static_pages/contact_form" %>
        </div>
    </div>
  </div>
</div>