<div id="mailModal">

  <div class="messages-list">
    <% @received_messages.each do |message| %>
        
      <div class="message">
        <% if message.sender_type == "Admin" %>
            <p><strong>De : Système</p>
        <% else %>
            <p><strong>De :</strong> <%= message.sender.email %></p>
        <% end %>
        <p><strong>Message :</strong> <%= message.body %></p>
        <%= button_to 'Supprimer', message_path(message), method: :delete, data: { confirm: 'Êtes-vous sûr de vouloir supprimer ce message ?' }, class: 'btn btn-danger btn-sm' %>
      </div>
    <% end %>
  </div>
</div>