<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Contact form: nouveau message !</h1>
     <p>nom: <br>
      <%= @name %></p>
    <p>email: <br>
      <%= @email %></p>
    <p>message: <br>
      <%= @message %></p>

  </body>
</html>