Miaou, félicitation pour votre achat  !
========================================

Bonjour, 

La totalité de votre commande est disponible au télechargement <a href="<%= @order_url%>">en cliquant sur ce lien</a>

Cordialement,
Votre équipe Gestion des achats