<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>

  <body>
    <h1>Félicitation pour la création de votre workshop !</h1>

    <p>
      Bonjour <%= @workshop.creator.email %>,
    </p>

    <p>
        Nous sommes ravis de vous compter parmi nos créateurs RAYMOTE IT. Vous avez créé un workshop intitulé <%= @workshop.name %> et nous sommes impatients de le partager avec le monde entier. C'est un grand moment pour toi, car avec ton workshop, tu vas pouvoir aider des milliers de personnes à apprendre ce qu'elles veulent. Nous sommes fiers de vous soutenir dans cette aventure. Pour plus d'informations sur votre workshop, vous pouvez consulter votre Dashboard. Si vous avez des questions ou des remarques, n'hésitez pas à nous contacter. Nous vous souhaitons une bonne expérience et un grand succès avec votre workshop.    
    </p>

    <p>
      Cordialement,
    </p>

    <p>
      L'équipe RAYMOTE IT
    </p>