Félicitation pour votre achat  !
========================================

Bonjour, 

La totalité de votre commande est disponible dans votre Dashboard <a href="<%= @order_url%>">en cliquant sur ce lien</a>

Cordialement,
Arthur, Service achat RAYMOTE IT