<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bonjour <%= @name %> nous avons bien reçu votre message !</h1>
    <p>Votre message: <br>
      <%= @message %></p>

    <p> À très vite sur <%= @url %>!</p>
  </body>
</html>