Bonjour <%= @name %> nous avons bien reçu votre message !
==========================================================

Votre message: 
<%= @message %>

À très vite sur <a href="<%= @url %>">https://raymote-it.fr</a> !

Arthur, Service client RAYMOTE IT
    