Salut <%= @user.email %> et bienvenue chez RAYMOTE IT !
==========================================================

Tu t'es inscrit sur en utilisant l'e-mail suivant : <%= @user.email %>.

Pour accéder à ton espace client, connecte-toi via : <a href="<%= @signin_url %>">/user/signin</a>.

À très vite sur RAYMOTE IT !

