<div class="advance-tab-button">
  <ul class="nav nav-tabs tab-button-style-2" id="myTab-4" role="tablist">
    <!-- UTILISATEUR -->
    <li role="presentation">
      <a
        href="#"
        class="tab-button"
        id="users-tab"
        data-bs-toggle="tab"
        data-bs-target="#users"
        type="button"
        role="tab"
        aria-controls="users"
        aria-selected="true"
      >
        <span class="title">Utilisateurs</span>
      </a>
    </li>
    <!-- ATELIERS -->
    <li role="presentation">
      <a
        href="#"
        class="tab-button"
        id="workshops-tab"
        data-bs-toggle="tab"
        data-bs-target="#workshops"
        type="button"
        role="tab"
        aria-controls="workshops"
        aria-selected="false"
      >
        <span class="title">Ateliers</span>
      </a>
    </li>
    <!-- ATELIERS EN  ATTENTE DE VALIDATION -->
    <li role="presentation">
      <a
        href="#"
        class="tab-button active"
        id="workshops_to_validate-tab"
        data-bs-toggle="tab"
        data-bs-target="#workshops_to_validate"
        type="button"
        role="tab"
        aria-controls="workshops_to_validate"
        aria-selected="false"
      >
        <span class="title">Ateliers en attente de validation</span>
      </a>
    </li>

    <!-- TAGS -->
    <li role="presentation">
      <a
        href="#"
        class="tab-button"
        id="tags-tab"
        data-bs-toggle="tab"
        data-bs-target="#tags"
        type="button"
        role="tab"
        aria-controls="tags"
        aria-selected="false"
      >
        <span class="title">Tags</span>
      </a>

      <!-- CATEGORIES -->
    </li>

    <li role="presentation">
      <a
        href="#"
        class="tab-button"
        id="categories-tab"
        data-bs-toggle="tab"
        data-bs-target="#categories"
        type="button"
        role="tab"
        aria-controls="categories"
        aria-selected="false"
      >
        <span class="title">Catégories</span>
      </a>
        </li>
      <!-- REVIEWS -->


    <li role="presentation">
      <a
        href="#"
        class="tab-button"
        id="reviews-tab"
        data-bs-toggle="tab"
        data-bs-target="#reviews"
        type="button"
        role="tab"
        aria-controls="reviews"
        aria-selected="false"
      >
        <span class="title">Avis</span>
      </a>
    </li>
    <!-- MESSAGES -->
    <li role="presentation">
      <a
        href="#"
        class="tab-button"
        id="messages-tab"
        data-bs-toggle="tab"
        data-bs-target="#messages"
        type="button"
        role="tab"
        aria-controls="messages"
        aria-selected="false"
      >
        <span class="title">Messages</span>
      </a>
    </li>

    <!-- NOTIFICATION ADMIN non fonctionnel
    <li role="presentation">
      <a
        href="#"
        class="tab-button"
        id="notifications-tab"
        data-bs-toggle="tab"
        data-bs-target="#notifications"
        type="button"
        role="tab"
        aria-controls="notifications"
        aria-selected="false"
      >
        <span class="title">Notifications</span>
      </a>
    </li>
    fin NOTIFICATION ADMIN -->
  </ul>
</div>
