<h1>Commande Annulée</h1>
<p>Votre commande a été annulée. Si vous avez rencontré un problème, veuillez nous contacter pour obtenir de l'aide.</p>

  <%= link_to "Retour à l'accueil", root_path %>
  <%= link_to 'Retour au cours', workshop_path(@workshop.id) %> 
