<br>
<br>
<br>
<br>

<title>Confirmation de Commande</title>
  

  <h1>Confirmation de Commande</h1>
  <p>Merci pour votre commande !</p>
  <p>Votre numéro de commande est : <%= @order.id %> </p>
  <p>Date de la commande : <%= date_format(@order.created_at) %> </p>

<br>
<br>
  <%= link_to "Retour à l'accueil", root_path, class: "rbt-btn hover-icon-reverse btn-gradient radius-round" %>
<br>
<br>
<br>
<br>
<br>
<br>