 <div class="col-lg-3 col-12">
  <div class="rbt-my-account-tab-button nav" role="tablist">
    
    <a href="#profil" class="active" data-bs-toggle="tab">Profil</a>
    
    <% if @user.creator %>
      <a href="#created_workshops" data-bs-toggle="tab">Ateliers Créés</a>
      <a href="#draft_workshops" data-bs-toggle="tab">Mes Brouillons</a>
    <% else %>
      <a href="#creator_send" data-bs-toggle="tab">Devenir Créateur</a>
    <% end %>
      <a href="#workshops" data-bs-toggle="tab">Inscriptions</a>
      <a href="#reviews" data-bs-toggle="tab">Avis</a>
      <a href="#orders" data-bs-toggle="tab">Commandes</a>
      <a href="#accessibility" data-bs-toggle="tab">Paramètres d'accessibilité</a>
      <a href="<%= edit_user_path(@user)%>">Modifier mes infos</a> 
  </div>
  <%= button_to "Se déconnecter", destroy_user_session_path, method: :delete, data: {turbo_method: :delete}, class: "rbt-btn btn-sm btn-gradient btn-gradient-2 w-100 my-5"%>
</div>