<%# TODO Ajouter une photo de profil %>

    <h3>Profil <%= @user.creator ? "Créateur" : "Utilisateur" %></h3>
    <table>
      <tbody>
        <tr>
          <td class="w-25"><strong>Prénom :</strong></td>
          <td><%= @user.firstname %></td>
        </tr>
        <tr>
          <td class="w-25"><strong>Nom :</strong></td>
          <td><%= @user.lastname %></td>
        </tr>
        <tr>
          <td class="w-25"><strong>Email :</strong></td>
          <td><%= current_user == @user ? @user.email : "*"* 10 %></td>
        </tr>
      </tbody>
    </table>

