<% title = "Profil Créateur" %>
<% subtitle = "" %>

<%= render partial: "layouts/banner", locals: {title: title, subtitle: subtitle, icon: false}%>


<section class="container">
  <div class="rbt-team-tab-content tab-content w-75 m-auto">
    <%= render partial: "users/public_card", locals:{user: @user}%>
  </div>
</section>

<!-- Start workshop Area -->
<% if  @published_workshops.any? %>
<section class="container">
  <div class="row g-5 mt-5 mb-5">
    <div class="container">
      <div id="workshops">
        <div class="row g-4 mb-4 justify-content-around ">
          
            <% @published_workshops.each do |workshop| %>
              <% if workshop.status != "passé" %>
                <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                  <%= render partial: "workshops/workshop_card", locals: {workshop: workshop} %>
                </div>
              <% end %>
            <% end %>
          <% end %>       
        </div>
      </div>
    </div> 
  </div> 
</section>
  <!-- End Live workshop Area -->
