<div class="container">
  <%= render "users/user_details" %>
  <%= render "users/created_workshops" %>
  
  <% if current_user == @user %>
     <%= render "users/workshops" %>
  <% end %>
  <%= link_to "Retour à l'accueil", workshops_path, class: "btn btn-dark" %>
</div>
