<%= form.fields_for :course_items do |course_item_form| %>
    <div class="field">
      <%= course_item_form.label :link , 'Lien url de la ressource (video, pdf, site web)'%>
      <%= course_item_form.url_field :link, id: :course_item_link %>
    </div>
  <% end %>