   <h3>Commandes</h3>
    <% if orders.any? %>
    <div class="rbt-my-account-table table-responsive text-center">
      <table class="table table-bordered">
        <thead class="thead-light">
          <tr>
            <th>No</th>
            <th>Date</th>
            <th>Montant</th>
            <th>Détails</th>
          </tr>
        </thead>
        <tbody>
          <% orders.each do |order| %>
            <tr>
              <td><%= order.id %></td>
              <td><%= date_format(order.created_at) %></td>
              <td><%= number_to_euros(order.amount) %></td>
              <td><%= link_to 'Voir', order_path(order.id), class: "rbt-btn btn-sm" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <% else %>
      <p>Aucune commande effectuée.</p>
    <% end %>
