<div class="d-flex flex-wrap">
  <% tags.sort_by{|t| t.name.downcase }.each do |tag| %>
    <%= link_to tag.name, tag_path(tag.id), class: "rbt-btn btn-border square w-5 d-flex justify-content-between align-items-center my-1" %>
  <% end %>
</div>
<div class="mt-2">
  <%= link_to "Nouveau Tag", new_tag_path, class: "rbt-btn btn-gradient" %>
</div>
