<div class="d-flex justify-content-center mt-5">
  <div class="rbt-contact-form contact-form-style-1 w-50 mx-auto text-center">
    <h1>Nouveau tag</h1>

    <%= render "form", tag: @tag %>

    <br>
  </div>
</div>
