/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url(vendor/bootstrap.min.css);
@import url(vendor/style.css);
@import url(fonts.css.erb);

/* ########### ROOT #################*/

:root {
  --font-primary: "Euclid Circular", sans-serif;
  --h5: 20px;
}

/* ############# END ROOT ##################*/

h1 {
  font-family: var(--font-primary);
}
h2 {
  font-family: var(--font-primary);
}
h3 {
  font-family: var(--font-primary);
}
h4 {
  font-family: var(--font-primary);
}
h5 {
  font-family: var(--font-primary);
}
h5.ft-title {
  font-family: var(--font-primary);
  font-size: var(--h5);
  font-weight: bold;
}
h6 {
  font-family: var(--font-primary);
}
.custom-textarea {
  font-size: 16px; /* Ajoutez la taille de police souhaitée */
}

/* ########### Navbar #################*/

.mainmenu li {
  margin-right: 2rem;
}

.user-list-wrapper li {
  display: flex;
  align-items: center;
}

.rbt-header .mainmenu-nav .mainmenu > li > a {
  font-weight: var(--f-bold);
}

.access {
  font-weight: var(--f-bold);
}

.rbt-megamenu.menu-skin-raym-gradient .wrapper {
  background: var(--gradient-4);
  box-shadow: none;
}

/* ########### Toogle Navbar #################*/

/* ########### Footer #################*/

footer {
  margin-bottom: 0%;
}

.btn-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  background-color: #007bff;
  color: white; 
  text-decoration: none;
  z-index: 1000;
  border: 2px solid transparent;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s; 
}

.btn-to-top:hover {
  background-color: white; 
  color: #007bff; 
  border-color: #007bff; 
}

/* ##### Messagerie ###### */
.message {
  border: 1px solid #ddd;
  padding: 10px;
}
/* ##### Star Rating ###### */
.star-rating {
  font-size: 24px;
}

.star-rating .star_to_rate {
  cursor: pointer;
  color: #ccc;
}

.star-rating .star.rated {
  color: #f5a623;
}
.already_stared {
  color: #f5a623;
}
/* ##### Accessibility ###### */
.high-contrast {
  background-color: white !important;
  color: black !important;
}

.opendys-enabled {
  font-family: "OpenDyslexic";
}

/* ##### Banner Homepage ###### */

.rbt-banner-1{
  background-image: url("https://res.cloudinary.com/dbu3s1gn0/image/upload/v1711814897/Raymote-it/bg-g1.jpg");
  background-size: cover;
  background-position: center top;
}

.rbt-banner-1::after {
  background: url("https://res.cloudinary.com/dbu3s1gn0/image/upload/v1711814893/Raymote-it/banner-bg-shape-1.svg");
  background-size: cover;
  background-position: center top;
}

/* ##### Reviews ###### */
.star-rating {
  font-size: 24px;
}

.star-rating .star_to_rate {
  cursor: pointer;
  color: #ccc;
}

.star-rating .star.rated {
  color: #f5a623;
}
.already_stared {
  color: #f5a623;
}

/* ##### Margin between two BUTTONS ###### */

.btn-raym-margin {
  margin-top: 50px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

/*######### CategoriesIcons###### */
.raym-icon {
  width: 40px;
  height: 40px;
}

/*######### Event banner ###### */
.top-event-title {
  font-size: 34px;
}
