<h2><%= category.name %></h2>
 <!-- icon -->
  <div>
    <%if category.icon.attached?%>
      <%= image_tag category.icon, class: "rounded-4", width:"50px", alt: 'Avatar utilisateur' %>
    <%end%>
  </div>


