<div class="d-flex justify-content-center mt-5">
  <div class="rbt-contact-form contact-form-style-1 w-75 mx-auto text-center">
    <h1>Editing category</h1>

    <%= render "form", category: @category %>

    <br>

    <div class="text-center">
      <%= link_to "Show this category", @category, class: "btn btn-primary" %> |
      <%= link_to "Back to categories", categories_path, class: "btn btn-secondary" %>
    </div>
  </div>
</div>



