<p style="color: green"><%= notice %></p>

  <div class="col-lg-6">
    <%= render partial: "categories/index", locals: {categories: @categories} %>
    <%= link_to "Nouvelle Catégorie", new_category_path %>
  </div>


