<div class="d-flex justify-content-center mt-5">
  <div class="rbt-contact-form contact-form-style-1 w-50 mx-auto text-center">
    <h1>Nouvelle catégorie</h1>

    <%= render "form", category: @category %>

    <br>

    <div>
      <%= link_to "Retour au Dashboard", dashboard_path %>
    </div>
  </div>
</div>

