<% content_for :title, "Apprendre #{@category.name}" %>
<% content_for :meta_description, "Apprenez #{@category.name} avec nos cours en ligne interactifs. Débutez ou perfectionnez-vous rapidement et efficacement. Commencez dès maintenant !" %>

<% title = @category.name %>
<% subtitle = "" %>

<%= render partial: "layouts/banner", locals: {title: title, subtitle: subtitle, icon: @category.icon}%>

<div class="container">

    <div class="rbt-categories-area bg-color-white rbt-section-gap">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="section-title text-center">
                                <span class="subtitle bg-coral-opacity">Ateliers associés</span>
                                <h3 class="title">Tous Les Ateliers<br/> De Nos Créateurs Superactifs</h3>
                            </div>
                        </div>
                    </div>
                  </div>
                


                <div class="row g-5 mt-5 mb-5">
                  <div class="container">
                    <div id="workshops">
                      <div class="row g-4 mb-4 justify-content-around ">
                        <% if  @workshops.any? %>
                          <% @workshops.each do |workshop| %>
                            <% if workshop.status != "passé" %>
                              <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                                <%= render partial: "workshops/workshop_card", locals: {workshop: workshop} %>
                              </div>
                            <% end %>
                          <% end %>       
                      </div>
                    </div>
                  </div> 
                </div> 
     
                <% else %>
                    <p class='text-center'>Aucun atelier trouvé</p>
                <% end %>
              </div>
  


    <div class="rbt-categories-area bg-color-white rbt-section-gap">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="section-title text-center">
                                <span class="subtitle bg-secondary-opacity">Cours associés</span>
                                <h3 class="title">Tous Les Cours<br/>Pour La RAYM Community</h3>
                            </div>
                        </div>
                    </div>
                </div>
                  
                


                <div class="row g-5 mt-5">
                  <div class="container">
                    <div id="workshops">
                      <div class="row g-4 mb-4 justify-content-around ">
                        <% if  @courses.any? %>
                          <% @courses.each do |course| %>
                            <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                              <%= render partial: "workshops/workshop_card", locals: {workshop: course} %>
                            </div>
                        <% end %>       
                      </div>
                    </div>
                  </div> 
                </div> 
                  
                <% else %>
                    <p>Aucun cours trouvé</p>
                <% end %>
              </div>

</div>





