<% content_for :title, "Apprendre #{@category.name}" %>
<% content_for :meta_description, "Apprenez #{@category.name} avec nos cours en ligne interactifs. Débutez ou perfectionnez-vous rapidement et efficacement. Commencez dès maintenant !" %>

<% title = @category.name %>
<% subtitle = "" %>

<%= render partial: "layouts/banner", locals: {title: title, subtitle: subtitle, icon: @category.icon}%>

<div class="container">

    <div class="rbt-categories-area bg-color-white rbt-section-gap">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="section-title text-center">
                                <span class="subtitle bg-coral-opacity">Ateliers associés</span>
                                <h3 class="title">Tous Les Ateliers<br/> De Nos Créateurs Superactifs</h3>
                            </div>
                        </div>
                    </div>
                  </div>
                


                <div class="row g-5 mt-5 mb-5">
                  <div class="container">
                    <div id="workshops">
                      <div class="row g-4 mb-4 justify-content-around ">
                        <% if  @workshops.any? %>
                          <% @workshops.each do |workshop| %>
                            <% if workshop.status != "passé" %>
                              <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                                <%= render partial: "workshops/workshop_card", locals: {workshop: workshop} %>
                              </div>
                            <% end %>
                          <% end %>       
                      </div>
                    </div>
                  </div> 
                </div> 
     
                <% else %>
                    <p>Aucun atelier trouvé</p>
                <% end %>
              </div>
  


    <div class="rbt-categories-area bg-color-white rbt-section-gap">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="section-title text-center">
                                <span class="subtitle bg-secondary-opacity">Cours associés</span>
                                <h3 class="title">Tous Les Cours<br/>Pour La RAYM Community</h3>
                            </div>
                        </div>
                    </div>
                </div>
                  
                


                <div class="row g-5 mt-5">
                  <div class="container">
                    <div id="workshops">
                      <div class="row g-4 mb-4 justify-content-around ">
                        <% if  @courses.any? %>
                          <% @courses.each do |course| %>
                            <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                              <%= render partial: "workshops/workshop_card", locals: {workshop: course} %>
                            </div>
                        <% end %>       
                      </div>
                    </div>
                  </div> 
                </div> 
                  
                <% else %>
                    <p>Aucun cours trouvé</p>
                <% end %>
              </div>

</div>


        <!-- Start Banner Area -->
    <div class="rbt-banner-area rbt-banner-8 variation-01 bg_image bg_image--9">
        <div class="wrapper w-100">
            <div class="container">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-6 order-2 order-lg-1">
                        <div class="content">
                            <div class="inner">
                                <div class="rbt-badge-group justify-content-start">
                                    <span class="meta-text d-flex align-items-center"><img class="mb-4" style="height: 50px" source src="/assets/youtubelive.png">Atelier Live du</span>
                                    <a href="#" class="rbt-badge-2">
                                        <div class="image"><img src="/assets/client-02.png" alt="Education Images"></div> Learn with <strong>Fatima Asrafy</strong>
                                    </a>
                                </div>
                                <h1 class="title">Prochain Atelier</h1>
                                <p class="description has-medium-font-size mt--20">Dive in and learn React.js from scratch! Learn Reactjs, Hooks, Redux, React Routing, Animations, Next.js and way more!
                                </p>
                                <div class="slider-btn rbt-button-group justify-content-start">
                                    <a class="rbt-btn btn-gradient radius-round hover-icon-reverse" href="#">
                                        <span class="icon-reverse-wrapper">
                                            <span class="btn-text">voir plus</span>
                                            <span class="btn-icon"><i class="fa-solid fa-arrow-right"></i></span>
                                            <span class="btn-icon"><i class="fa-solid fa-arrow-right"></i></span>
                                        </span>
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 offset-xl-1 order-1 order-lg-2">
                        <div class="video-popup-wrapper">
                            <img class="w-100 rbt-radius" src="assets/images/others/video-02.jpg" alt="Video Images">
                            <a class="rbt-btn rounded-player-2 popup-video position-to-top with-animation" href="https://www.youtube.com/watch?v=nA1Aqp0sPQo">
                                <span class="play-icon"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Banner Area -->


