<div class="container d-flex justify-content-center">
  <div class="rbt-contact-form contact-form-style-1 mt-5">
    <h1 class="text-center">Modifier votre avis</h1>

        <%= render "form", review: @review %>
        <br>
  </div>
</div>
