<p style="color: green"><%= notice %></p>

<h1>Avis</h1>

<div id="reviews">
  <% @reviews.each do |review| %>
    <%= render review %>
    <p>
      <%= link_to "Voir", review %>
    </p>
  <% end %>
</div>

<%= link_to "Nouvel avis", new_review_path %>
