<!-- MENU ADMINISTRATEUR -->
<div class="header-right">
    <ul class="quick-access">
        <li class="access-icon">
            <i class="feather-search"></i>
        </li>
        <!-- Nom du Compte: Administrateur-->
        <li class="account-access rbt-user-wrapper">
            <%= image_tag "user.svg", class: "icon", alt: "icon" %>
            <a href="#"><i class="feather-user"></i><strong>Administrateur</strong></a>
            <!-- Menu déroulant: Administrateur -->
            <div class="rbt-user-menu-list-wrapper">
                <div class="inner">
                    <!-- Admin Name -->
                    <div class="rbt-user-profile">
                        <div class="user-info">
                            <span class="name" style="font-weight: bold"><%= current_admin.email %></span>
                        </div>
                    </div>
                    <!--  Liens -->
                    <ul class="user-list-wrapper">
                        <li></li>
                        <!--  Dashboard -->
                        <li>
                            <i class="fa-solid fa-house"></i>
                            <%= link_to "Dashboard", dashboard_path %>
                        </li>

                        <!-- déconnexion   -->
                        <li>
                            <i class="fa-solid fa-right-from-bracket"></i>
                            <%= button_to "Se déconnecter", destroy_admin_session_path, method: :delete, data: {turbo_method: :delete}, class: "dropdown-item" %>
                        </li>
                    </ul>
                </div>
            </div>
        </li>
    </ul>
</div>
