<div class="rbt-breadcrumb-default ptb--100 ptb_md--50 ptb_sm--30 bg-gradient-11">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-inner text-center">
                        <div class='d-flex justify-content-center align-items-center'>
                            <!-- icon -->
                            <div>
                                <%if icon != false %>
                                 
                                 <% if icon.attached? %>
                                    <%= image_tag icon, size:"100x100", alt: 'icon' %>
                                 <% end %>
                                <%end%>
                            </div>
                        
                            <h1 class="title mx-5"><%= title %></h1>
                        </div>
                        <p><%= subtitle %></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
 